
Copy-number/copy_number_processed.h5
Copy-number/copyNumber.csv
*.h5
Copy-number/tiny.h5
Copy-number/tiny_csv.csv
presentations
/big_fit/fix/holding
/big_fit/holding
/Mollie's problems
/_BAGES (Batch Automated Graphical Emailer System)/__pycache__
/asana_backup/certs
asana_backup/.pem
pmh_test/essential_and_copynum/copy_num/Model.csv
pmh_test/essential_and_copynum/copy_num/updated_copy_num.csv
pmh_test/essential_and_copynum/essential/CRISPRGeneEffect.csv
pmh_test/essential_and_copynum/essential/CRISPRInferredCommonEssentials.csv
pmh_test/essential_and_copynum/essential/Model.csv
/pmh_test/get_gbk/previous_gbks
/pmh_test/gtfs
